.search-form input,
.search-form button {
  height: auto;
  padding: 8px 12px;
  font-size: 16px;
}

.search-form input {
  min-width: 300px;
}

.search-form input:focus,
.search-form input:focus-visible {
  outline: 4px auto #e55662;
}

.search-form button {
  margin-left: 10px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #f65261;
  color: white;
  text-transform: uppercase;
  border-radius: 3px;
}